<%= form_for(@favor, :url=>{:action => 'update'}) do |f| %>
	
	<% if @favor.errors.any? %>
    <div id="error_explanation">
        <h2>
            <%= pluralize(@favor.errors.count, "error")%>
            found: 
        </h2>
        <p>Oops! Update unsuccessful </p>
        <ul>
        <% @favor.errors.full_messages.each do |message| %>
            <li class="_error"><%= message %></li>
        <% end %>
        </ul>   
    </div>
<% end %>

    <div>
	<h3> Favor Description: </h3>
	<%= f.text_area :desc, :value => @favor.desc %> <br><br>
	Skill Required: <%= f.select :skill, [ 'General','Cleaning', 'Cooking', 'Gardening', 'Repairing', 'Electrical', 'Plumbing' ]%><br> <br>
   	Minimum Pay: <%= f.text_field :pay, :value => @favor.pay %> <br><br>
	<%= f.submit "Update Favor" %>
	</div>
<% end %>
