<%= form_for(@favor, :url=>{:action => 'create'}) do |f| %>
<div>
	<table>
	<td> Hi, <%= @juans.fname %> </td>
	<td><a href="/login"> Logout </a></td>
	</table>
</div>

<table>
    <thead>
        <th><a href="/juans">Available Runners</a></th>
		<th><a href="/favors/new">Ask a Favor</a></th>
		<td><a href="/juans/<%= @juans.id %>"> Profile </a> </td>
		
    </thead>
</table>

<div>
	<h3> Favor Description: </h3>
	<%= f.text_area :desc %> <br> <br>

	<p> Skill Required: <%= f.select :skill, [ 'General','Cleaning', 'Cooking', 'Gardening', 'Repairing', 'Electrical', 'Plumbing' ]%> </p> <br> <br>

   
	<%= f.submit "Ask Favor" %>
	</div>

<% end %>