<% if flash[:alert] %>
	<div class="alert"> <%= flash[:alert] %> </div>
<% end %>

<%= form_for(:login, url: '/login') do |f| %>
    <%= f.label :username %> <%= f.text_field :username %> <br><br>
	<%= f.label :password %> <%= f.password_field :password %> <br><br>
	<%= f.submit "Login" %><br><br>
<% end %>

<a href="/juans/new"> Sign Up as Juan </a> <br><br>
<a href="/runners/new"> Sign Up as Runner </a>