<div>
	<table>
	<td><a href="/login"> Logout </a></td>
	</table>
</div>

<table>
    <thead>
        <th><a href="/runners">Available Favors</a></th>
		<td><a href="/runners/<%= @runners.id %>"> Profile </a> </td>
		
    </thead>

</table>
<br>
<% @favor = Favor.where("skill = ?", @runners.skill) %>
<% @favor.each do |f| %>
	<div>
	<% @juan = Juan.find_by("id = ?", f.juan_id) %>
        <a href="/juans/<%= @juan.id %>"><%= @juan.fname %> <%= @juan.lname %></a><br>
		<%= f.desc %><br>
		<a href="/runners/<%= f.id %>">Accept</a><br><br>

	</div>
<% end %>
   
