<div>
	<table>
	<td><a href="/login"> Logout </a></td>
	</table>
</div>

<table>
    <thead>
        <th><a href="/runners">Available Favors</a></th>
		<td><a href="/runners/<%= @runners.id %>"> Profile </a> </td>
		
    </thead>

</table>
<br>
<% @favor = Favor.where("skill = ?", @runners.skill) %>
<% @favor.each do |f| %>
	<div>
	<% if f.runner_id == nil %>
	<% @juan = Juan.find_by("id = ?", f.juan_id) %>
	<%= form_for(@runners, :url=>{:action => 'accept', :id => f.id}) do |x| %>
        Juan:<%= @juan.fname %> <%= @juan.lname %><br>
        <%= f.runner_id %>
        Minimum Pay: <%= f.pay %><br>
		Description: <%= f.desc %><br>
		Location: <%= @juan.address %><br>
		<%= x.submit "Accept" %><br><br>
	</div>
	<% end %>
	<% end %>
<% end %>