

<p><%= @runners.username %></p>
<p><%= @runners.password %></p><br>

<p><%= @runners.fname %></p>
<p><%= @runners.lname %></p>
<p><%= @runners.skill %></p>
<p><%= @runners.time_availfrom %></p>
<p><%= @runners.time_availto %></p>
<p><%= @runners.description %></p>
