<div>
	<table>
	<td><a href="/login"> Logout </a></td>
	</table>
</div>

<table>
    <thead>
        <td><a href="/runners">Available Favors</a></th>
		<th><a href="/runners/<%= @runners.id %>"> Profile </a> </td>
		
    </thead>
</table>


<p>Name: <%= @runners.fname %> <%= @runners.lname %></p>
	<p>Address: <%= @runners.address %></p>
	<p>Contact: <%= @runners.contact %></p>
	<p>Skill: <%= @runners.skill %> </p>
	<p>Availability: <% if @runners.isAvailable %>
						Yes </p>
					 <% else %>
					    No </p>
					    <% end %>

	<p><a href="/runners/<%= @runners.id %>/edit"> Edit Profile </a></p>