<div>
	<table>
	<td> Hi, <%= @juans.fname %> </td>
	<td><a href="/juans/<%= @juans.id %>"> Profile </a> </td>
	<td><a href="/login"> Logout </a></td>
	</table>
</div>

<table>
    <thead>
        <th><a href="/juans">Available Runners</a></th>
		<th><a href="/juans/">Ask a Favor</a></th>
		
    </thead>

	<thead>
        <th>Name</th>
		<th>Skill</th>
		
    </thead>
<% @runner = Runner.where(isAvailable: true) %>
<% @runner.each do |run| %>
    <tr>
        <td><%= run.fname %> <%= run.lname %></td>
		<td><%= run.skill %></td>
		<td><a href="/runners/<%= run.id %>">Show</a></td>
    </tr>
<% end %>
    </tbody>
</table>