<table>
    <thead>
        <th><a href="/juans">Available Runners</a></th>
		<th><a href="/juans/">Ask a Favor</a></th>
		
    </thead>

	<thead>
        <th>Name</th>
		<th>Time Available From</th>
		<th>Time Available To</th>
		<th>Skill</th>
		
    </thead>
<% @runner = Runner.all %>
<% @runner.each do |run| %>
    <tr>
        <td><%= run.fname %> <%= run.lname %></td>
		<td><%= run.time_availfrom %></td>
		<td><%= run.time_availto %></td>
		<td><%= run.skill %></td>
		<td><a href="/runners/<%= run.id %>">Show</a></td>
    </tr>
<% end %>
    </tbody>
</table>


